extends layout

block content
  body
    .container
      if page.split('/').reverse()[0] === 'edit'
        p
          | edit form
      else
        .page-header#article-title
          h1 #{article.title}
        p.details
          | Author: &nbsp;
          span #{article.author}
          |;&nbsp;&nbsp; Created: &nbsp;
          span #{article.date}
        p.content#article-content
          | #{article.content}
        if (user && user.admin)
          // a.btn.btn-default(href='/articles/' + article.id + '/edit', role='button') Edit
          button#edit-article.btn.btn-default(data-article-id=article.id) Edit
          button#remove-article.btn.btn-default(data-article-id=article.id) Remove

        include ./comments.jade
