extends layout

block content
  body
    .container
      if page.split('/').reverse()[0] === 'edit'
        p
          | edit form
      else
        .page-header#article-title
          h1 #{article.title}
        p.details
          strong Author: &nbsp;
          span #{article.author}
          strong;&nbsp;&nbsp; Created: &nbsp;
          span #{article.date}
        div.content.article-body#article-content
          | #{article.body}
        if (user && user.admin)
          button#edit-article.btn.btn-default(data-article-id=article.id) Edit
          button#remove-article.btn.btn-warning(data-article-id=article.id) Remove

        include ./comments.jade
